<div class="course-container">
  <div class="course__upper">
    <div class="semi-round"></div>
    <div class="course__upper__back">
      <div class="course__upper__back-content">
        <div class="icon">
          <span class="caret"></span>
          <!-- <img src="https://img.icons8.com/ios-glyphs/30/ffffff/back.png" /> -->
        </div>
        <!-- <div class="text m-2" routerLink="/courses">Back to courses</div> -->
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row header">
      <div class="col-md-4 user_image">
        <img
          src="https://img.icons8.com/color/240/000000/circled-user-male-skin-type-7--v2.png"
        />
      </div>
      <div class="col-md-8 user_details">
        <h2>Mohammed Aasif</h2>
        <p>2 Followers&nbsp; 4 Following</p>
        <div class="user_xp">
          <img
            src="https://img.icons8.com/color/48/000000/filled-star--v2.png"
          />
          <p>1050 XP</p>
        </div>
        <div class="user_level">
          <img
            src="https://img.icons8.com/ios-filled/50/000000/worldwide-location--v2.png"
          />
          <p>India, Level 4</p>
        </div>
      </div>
    </div>
    <div class="row course_progress">
      <div class="header">
        <h3>Course Progress</h3>
        <div class="btn btn-link text-decoration-none">Manage</div>
      </div>
    </div>
  </div>
</div>
